<!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-0">
            <h1 class="h3 mb-0 text-gray-800">Generar Factura</h1>
          </div>
          <hr>
          <div class="d-sm-flex align-items-center justify-content-between mb-3">
            <h4 class="h4 mb-0 text-gray-600">Datos necesarios</h4> 
          </div>
          <!--Formulario Factura electronica-->
          <div class="form-factura">
            
            <form action="#">
              <div class="form-group">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" checked type="radio" name="inlineRadioOptions" id="inlineRadioNatural"
                    value="option1">
                  <label class="form-check-label" for="inlineRadioNatural">Natural</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioJuridica"
                    value="option2">
                  <label class="form-check-label" for="inlineRadioNatural">Juridica</label>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-4">
                  <div class="row">
                    <!--Numero de documento-->
                    <label for="inputDocumento" class="col-6 col-form-label">Documento:</label>
                    <input type="number" class="col-6 form-control" id="inputDocumento">
                  </div>
                </div>
                <div class="col-8">
                  <div class="row">
                    <!--Razon Social-->
                    <label for="inputRazonSocial" class="col-2 col-form-label">Razon Social:</label>
                    <input type="text" class="col-10 form-control" id="inputRazonSocial">
                  </div>
                </div>
              </div>




              <div class="form-group row">
                <div class="col-6">
                  <div class="row">
                    <!--Emisor-->
                    <label for="inputEmisor" class="col-4 col-form-label">Emisor:</label>
                    <input type="text" class="col-8 form-control" id="inputEmisor">
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <!--Fecha Vencimiento--->
                    <label for="inputVencimiento" class="col-4 col-form-label">Fecha Vencimiento:</label>
                    <input type="text" class="col-8 form-control" id="inputVencimiento">
                  </div>
                </div>
              </div>



              <div class="form-group row">
                <div class="col-6">
                  <div class="row">
                    <!--Tipo Moneda-->
                    <label for="inputMoneda" class="col-4 col-form-label">Tipo de Moneda:</label>
                    <input type="text" class="col-8 form-control" id="inputMoneda">
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <!--Fecha Emision--->
                    <label for="inputEmision" class="col-4 col-form-label">Fecha Emision:</label>
                    <input type="text" class="col-8 form-control" id="inputEmision">
                  </div>
                </div>
              </div>

              <div class="row my-3">
                <div class="col">
                  <button class="btn btn-primary"><i class="fa fa-plus"></i> Registrar</button>

                </div>
              </div>


              <!--Tabla de Items-->
              <div class="card shadow my-4">
                <div class="card-header py-3">
                  <div class="row align-items-end">
                    <div class="col-8">
                      <h6 class="m-0 font-weight-bold text-primary">Productos</h6>
                    </div>
                    <div class="col-4">
                      <button class="btn btn-primary"><i class="fa fa-plus"></i> Adicionar</button>
                      <button class="btn btn-success"><i class="fa fa-tag"></i> Editar</button>
                      <button class="btn btn-danger"><i class="fa fa-times"></i> Eliminar</button>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>Bien/Servicio</th>
                          <th>Gravado/Exonerado</th>
                          <th>Unidad Medida</th>
                          <th>Cantidad</th>
                          <th>Descripcion</th>
                          <th>Precio Unitario</th>
                          <th>Total</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="row mt-3 justify-content-end">
                      <!--Subtotal-->
                      <label for="inputSubtotal" class="col-2 col-form-label">Subtotal:</label>
                      <input type="text" class="col-2 form-control" id="inputSubtotal">
        
                  </div>
                  <div class="row justify-content-end">
                      <!--Descuentos-->
                      <label for="inputDescuentos" class="col-2 col-form-label">Descuentos:</label>
                      <input type="text" class="col-2 form-control" id="inputDescuentos">
        
                  </div>
                  <div class="row justify-content-end">
                      <!--IGV-->
                      <label for="inputIGV" class="col-2 col-form-label">IGV:</label>
                      <input type="text" class="col-2 form-control" id="inputIGV">
        
                  </div>
                  <div class="row justify-content-end">
                      <!--Importe Total-->
                      <label for="inputImporte" class="col-2 col-form-label">Importe Total:</label>
                      <input type="text" class="col-2 form-control" id="inputImporte">
        
                  </div>
                </div>
              </div>


            </form>



          </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->