<div class="container mb-5">
    <!-- Cabecera de la pagina  -->
    <div class="d-sm-flex align-items-center justify-content-center mb-4">
        <div class="row">
            <h1 class="h2 text-gray-800 d-block">Sistema de Facturación Electrónica</h1>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center my-5">
            <img height="300px" src="http://www.cmi-facturaelectronica.com/images/header-image-blue.png"
                class="border border rounded float-left">
        </div>
        <div class="col-md-6 d-flex justify-content-center text-left">
            <div class="card my-5" style="width: 18rem;">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted"> El sistema de facturacion electronica provee a los usuarios:</h6>
                    <p class="card-text">
                        <ul class="mx-3">
                            <li>Registro, Actualizacion, Borrado y Listado de Clientes</li>
                            <li>Registro, Actualizacion, Borrado y Listado de Productos</li>
                            <li>Emision de Facturas</li>
                            <li>Emision de Boletas</li>
                        </ul>
                    </p>
                </div>
            </div>
            
        </div>
    </div>
</div>